@model EntityLayer.Concrete.Category
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h2>kategori ekleme</h2>
<br />
@using (Html.BeginForm("AddCategory", "AdminCategory", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Kategori Adı")
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryName)
        @Html.Label("Açıklama")
        @Html.TextBoxFor(x => x.CategoryDesription, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryDesription)
        <br />
        <button class="btn btn-success">Kaydet</button>
    </div>
}

