@model List<EntityLayer.Concrete.Heading>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    int count = 0;
}

<br />
<table class="table table-striped">
    <tr style="background-color: lightgrey">
        <th>#</th>
        <th>Başlık Adı</th>
        <th>Başlık Tarihi</th>
        <th>Yazar</th>
        <th>Kategori</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Başlıklar</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.HeadingName</td>
            <td>@item.HeadingDate.ToString("dd.MM.yyyy")</td>
            <td>@item.Writer.WriterName</td>
            <td>@item.Category.CategoryName</td>
            <td><a href="/AdminCategory/DeleteCategory/@item.CategoryID" class="btn btn-danger">Sil</a></td>
            <td><a href="/AdminCategory/UpdateCategory/@item.CategoryID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="#" class="btn btn-primary">Başlıklar</a></td>
        </tr>

    }
</table>
<br />
<a href="/Heading/AddHeading" class="btn btn-success">başlık Ekle</a>